<div class="col-md-3">
    <div class="list-group">
      <a href="/profile" class="list-group-item list-group-item-action active">My Profile</a>
      <a href="/manage-addresses" class="list-group-item list-group-item-action">Manage Addresses</a>
      <a href="/orders" class="list-group-item list-group-item-action">My Orders</a>
      <a href="/" class="list-group-item list-group-item-action">Payment Methods</a>
    </div>
  </div>  